$body-background: #dcdce8;
$brand-primary: #999;
$primary-font-size: 14pt;
$secondary-font-size: $primary-font-size / 2.5pt;
$product-grid-background: #f2f2fa;
$anchor-font-color: #7c7c86;
$product-anchor-font-color:#767680;